@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbarlogo {
    @apply text-slate-600 h-5 cursor-pointer text-slate-500;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-silver-transparent {
  background-color: rgba(
    195,
    195,
    192,
    0.7
  ); /* Adjust the alpha value as needed */
}

.slick-slide > div {
  margin: 0 15px;
  border-radius: 10px;
  background-color: rgba(237, 237, 235, 0.7);
  width: fit-content;
}

.detail-banner {
  background-image: linear-gradient(
    rgba(20, 20, 251, 0.42),
    rgba(255, 255, 255, 0.434)
  );
}
